:root {
  --font-family-primary: Helvetica, Arial, sans-serif;

  --font-size-extra-large: 1.5rem;
  --font-size-large: 1.25rem;
  --font-size-medium: 1rem;
  --font-size-small: 0.875rem;
  --font-size-extra-small: 0.75rem;
  --font-size-extra-extra-small: 0.625rem;

  --font-weight-light: 300;
}
