.loadingContainer {
  display: grid;
  place-items: center;
  padding: 4rem;
}

.spinner {
  width: 2.5rem;
  height: 2.5rem;
  border: 0.125rem solid var(--gray-light-color);
  border-top-color: var(--black-color);
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
